@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: #9a9a9a;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.title{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    margin-top: -40px;
}
#game-container {
    text-align: center;
}

#gameCanvas {
    border: 4px solid #696969; /* Cor do Canvas */
    background-image: url('imagens/fundo_canvas.png');
    display: block;
    margin: 10px auto;
}

#controls, #score-board {
    margin: 10px 0;
}

