body {
    background-color: #9a9a9a;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#game-container {
    text-align: center;
}

#gameCanvas {
    border: 4px solid #696969; /* Cor do Canvas */
    background-image: url('imagens/fundo_canvas.png');
    display: block;
    margin: 20px auto;
}

#controls, #score-board {
    margin: 10px 0;
}